altair==5.5.0
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.10.0
appdirs==1.4.4
attrs==25.4.0
bcrypt==5.0.0
beautifulsoup4==4.13.5
bidict==0.23.1
blinker==1.9.0
bs4==0.0.2
cachetools==5.5.2
cairocffi==1.7.1
certifi==2025.8.3
cffi==2.0.0
charset-normalizer==3.4.3
click==8.2.1
colorama==0.4.6
contourpy==1.3.3
cryptography==46.0.2
cssselect==1.3.0
cssselect2==0.8.0
cssutils==2.11.1
customtkinter==5.2.2
cycler==0.12.1
darkdetect==0.8.0
defusedxml==0.7.1
dkimpy==1.1.8
dnspython==2.7.0
eventlet==0.40.3
fake-useragent==2.2.0
Flask==3.1.2
Flask-SocketIO==5.5.1
fonttools==4.59.2
gitdb==4.0.12
GitPython==3.1.45
greenlet==3.2.4
grpcio==1.75.0
grpcio-status==1.71.2
h11==0.16.0
httpcore==1.0.9
httplib2==0.31.0
httpx==0.28.1
idna==3.10
importlib_metadata==8.7.0
invoke==2.2.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.3.0
Jinja2==3.1.6
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
keyring==25.6.0
kiwisolver==1.4.9
lxml==6.0.1
Markdown==3.9
MarkupSafe==3.0.2
matplotlib==3.10.6
more-itertools==10.8.0
narwhals==2.7.0
paramiko==4.0.0
parse==1.20.2
pefile==2023.2.7
pillow==10.4.0
premailer==3.10.0
prompt_toolkit==3.0.51
proto-plus==1.26.1
protobuf==5.29.5
psutil==7.0.0
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pyasynchat==1.0.4
pyasyncore==1.0.4
pycparser==2.22
pydantic==2.11.9
pydantic_core==2.33.2
pydeck==0.9.1
pyee==11.1.1
pyftpdlib==2.1.0
pygame==2.6.1
pygame-ce==2.5.3
Pygments==2.19.2
pyinstaller==6.15.0
pyinstaller-hooks-contrib==2025.8
PyNaCl==1.6.0
pynput==1.8.1
pyparsing==3.2.4
pyperclip==1.9.0
pyppeteer==2.0.0
pyquery==2.0.1
pyray==0.1.0
python-dateutil==2.9.0.post0
python-engineio==4.12.3
python-socketio==5.14.1
PyTMX==3.32
pytz==2025.2
referencing==0.36.2
requests==2.32.4
requests-html==0.10.0
rpds-py==0.27.1
rsa==4.9.1
screeninfo==0.8.1
setuptools==80.9.0
simple-websocket==1.1.0
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.7
streamlit==1.50.0
tenacity==9.1.2
tinycss2==1.4.0
tkhtmlview==0.3.1
toml==0.10.2
tornado==6.5.2
tqdm==4.67.1
typing-inspection==0.4.1
typing_extensions==4.13.2
tzdata==2025.2
uritemplate==4.2.0
urllib3==1.26.20
ursina==7.0.0
w3lib==2.3.1
waitress==3.0.2
watchdog==6.0.0
wcwidth==0.2.13
webencodings==0.5.1
websockets==10.4
Werkzeug==3.1.3
wsproto==1.2.0
zipp==3.23.0
